<include file="Public:header" />
<body>
	<div class="place">
		<span>当前位置：</span>
		<ul class="placeul">
			<li><a href="javascript:;">管理员管理</a></li>
			<li><a href="<?php echo U('User/index')?>">管理员列表</a></li>
		</ul>
    </div>
<div class="rightinfo">
    <div class="tools"> 
		<ul class="toolbar">
			<li style="background: #3c8dbc;"><a href="<?php echo U('add')?>"><span><img src="__PUBLIC__/Admin/images/t01.png" /></span>新增管理员</a></li>
		    
        </ul>
    </div>
    <table class="tablelist">
    	<thead>
			<tr>
				<th width="80">用户ID</th>
				<th>用户名</th>
				<th>添加时间</th>
				<th style="text-align:center" width="200">操作</th>
			</tr>
        </thead>
        <tbody>
			<foreach name="list" item="v">
			<tr>
				<td>{$v.admin_id}</td>
				<td>{$v.username}</td>
				<td>{$v.addtime|date="Y-m-d H:i:s",###}</td>
				<td>
					<a href="<?php echo U('add',array('id'=>$v['admin_id']))?>" class="tablelinks"><img src="__PUBLIC__/Admin/images/edit.png" class="edit">编辑</a>
					<a onclick="return confirm('确定要删除吗？');" href="<?php echo U('User/aDel')?>?id=<?php echo $v['admin_id']?>&active=delete" class="tablelink"><img src="__PUBLIC__/Admin/images/del.png" class="del">删除</a>
				</td>
			</tr>
			</foreach>
        </tbody>
    </table>
    <div class="pagin">
        <div class="paginList">
			<?php echo $page ?>
        </div>
    </div>
</div> 
   
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
