<include file="Public:header" />
<body>
	<div class="place">
		<span>当前位置：</span>
		<ul class="placeul">
			<li><a href="javascript:;">广告管理</a></li>
			<li><a href="<?php echo U('Ad/indexs')?>">广告位置</a></li>
			<li><a href="<?php echo U('Ad/indexs')?>">列表</a></li>
		</ul>
    </div>
<div class="rightinfo">
    <div class="tools"> 
		<ul class="toolbar">
			<li style="background: #3c8dbc;"><a href="<?php echo U('adds')?>"><span><img src="__PUBLIC__/Admin/images/t01.png" /></span>添加广告位置</a></li>
        </ul>
    </div>
    <table class="tablelist">
    	<thead>
			<tr>
				<th width="80">广告ID</th>
				<th>广告位置</th>
				<th>添加时间</th>
				<th width="220">操作</th>
			</tr>
        </thead>
        <tbody>
			<foreach name="list" item="v">
			<tr>
				<td>{$v.id}</td>
				<td>{$v.name}</td>
				<td>{$v.addtime|date="Y-m-d H:i",###}</td>
				<td>
					<a href="<?php echo U('Ad/index',array('pid'=>$v['id']))?>" class="tablelinksave"><img src="__PUBLIC__/Admin/images/look.png" class="look">查看</a>
					<a href="{:U('adds',array('id'=>$v['id']))}" class="tablelinks"><img src="__PUBLIC__/Admin/images/edit.png" class="edit">编辑</a>
					<a onclick="return confirm('确定要删除吗？');" href="<?php echo U('aDels')?>?id=<?php echo $v['id']?>&active=delete" class="tablelink"><img src="__PUBLIC__/Admin/images/del.png" class="del">删除</a>
				</td>
			</tr>
			</foreach>
        </tbody>
    </table>
    <div class="pagin">
        <div class="paginList">
			<?php echo $page ?>
        </div>
    </div>
</div>    
<script type="text/javascript">
	$('.tablelist tbody tr:odd').addClass('odd');
</script>
</body>
</html>
